.graphs_container{
    /* display: flex; */
    margin-inline: 35px;
    margin-block: 25px;
    gap: 30px;
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graphs_card{
    /* flex-basis: 30%; */
    /* max-width: 33.3%; */
    border: 1px solid rgb(234, 236, 240);
    border-radius: 12px;
    padding-inline: 15px;
    padding-block: 20px;
    background-color: white;
}

.graphs_card>h2{
    font-size: 1.1875rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
}

.graph_container{
   display: flex;
   justify-content: space-between;
}

.graphs_leftpart>p{
    display: flex;
    align-items: center;
    line-height: 1.57143;
    font-size: 0.875rem;
    color: rgb(102, 112, 133);
}
.graphs_leftpart >h2{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.33333;
}

.graphs_leftpart>p>span{
    color: rgb(18, 183, 106);
    padding-right: 8px;
}

@media (max-width: 1200px) {
    .graphs_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px)
{
    .graphs_container{
        grid-template-columns: 1fr;
        /* margin-inline: 25px; */
        width: 90%;
        margin-inline: auto;
    }
}